.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    color: black;
    padding: 20px;
    text-align: start;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.divider {
    height: 1px;
    background-color: #D6D6D6;
}

.chatArea {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sentMessage {
    background: #ffffff;
    align-self: flex-end;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-break: break-word;
}

.receivedMessage {
    align-self: flex-start;
    background: #ffffff;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-break: break-word;
}

.time {
    align-items: flex-end;
    text-align: end;
    font-size: 12px;
    color: #ccc;
}

.inputArea {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    position: relative;
}

.sendButton {
    background-color: #E14621;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    height:40px;
    width: 40px;
    gap: 10px;
}

.sendButton:hover {
    background-color: #0056b3;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footerLeftSide {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messageInput {
    width: 90%;
    padding: 10px;
    border: 1px solid #D6D6D6;
    position: relative;
    border-radius: 10px;
    background: #f0f0f0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.charCount {
    width: 90%;
    padding: 10px;
    display: flex;
    font-size: 12px;
    color: #888;
    justify-content: flex-end;
}

@media (max-width: 1200px) {
    .sentMessage {
        font-size: 12px;
    }

    .receivedMessage {
        font-size: 12px;
    }

    .time {
        font-size: 10px;
    }


    .footer {
        padding: 5px;
    }

    .charCount {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .sentMessage {
        font-size: 12px;
    }

    .receivedMessage {
        font-size: 12px;
    }

    .time {
        font-size: 10px;
    }
}