.filter {
    border: 1px solid #D6D6D6;
    width: 111px;
    height: 40px;
    border-radius: 10px;
    Padding: 10px;
    Gap: 30px;
}

.filter:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}
