.container {
    display: flex;
    height: 100vh;
}

.chat {
    flex: 4;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.products {
    flex: 8;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}
