.container {
    display: flex;
    height: 100vh;
}

.chat {
    flex: 4;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.products {
    flex: 8;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .chat {
        flex: 12;
    }

    .products {
        flex: 12;
    }
}